# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# Django
*.sqlite3
/backend/staticfiles/
/backend/media/

# Node
node_modules/
dist/
.env.local

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
